<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Benefícios</title>
  <link rel="stylesheet" href="../../static.Warranty/warranty.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="top">
  <h1 class="title">Rabbit Coin</h1>
  <a class="logo">
    <img src="../../static/Users/rabbitlogo.png" alt="logo">
  </a>
</div>
<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <ul class="nav">

      <li>
        <a href="http://localhost:63342/RabbitCoin/templates/Home/home.html" rel="noopener noreferrer">
          <button type="button" class="btn">
            <img class="icon-item" src="../../static.Home/home.png" alt="home">
            <strong class="item-sidebar">Home</strong>
          </button>
        </a>
      </li>
      <li>
        <a href="http://localhost:63342/RabbitCoin/templates/Registers/financial-transactions.html" rel="noopener noreferrer">
          <button type="button" class="btn">
            <img class="icon-item" src="../../static.Home/add.png" alt="registros">
            <strong class="item-sidebar">Registros</strong>
          </button>
        </a>
      </li>
      <li>
        <a href="http://localhost:63342/RabbitCoin/templates/Warranty/warranty-card.html" rel="noopener noreferrer">
          <button type="button" class="btn">
            <img class="icon-item" src="../../static.Home/benefit.png" alt="benefícios">
            <strong class="item-sidebar">Benefícios</strong>
          </button>
        </a>
      </li>
      <li>
        <a href="http://localhost:63342/RabbitCoin/templates/Settings/settings.html" rel="noopener noreferrer">
          <button type="button" class="btn">
            <img class="icon-item" src="../../static.Home/config.png" alt="configurações">
            <strong class="item-sidebar">Configurações</strong>
          </button>
        </a>
      </li>
      <li>
        <a href="https://github.com/kamilydev/RabbitCoin" target="_blank" rel="noopener noreferrer">
          <button type="button" class="btn" >
            <img class="icon-item" src="../../static.Home/info.png" alt="informações">
            <strong class="item-sidebar">Informações</strong>
          </button>
        </a>
      </li>
      <li>
        <a href="http://localhost:63342/RabbitCoin/templates/Login/users-form.html" rel="noopener noreferrer">
          <button type="button" class="btn" >
            <img class="icon-item" src="../../static.Home/logout.png" alt="logout">
            <strong class="item-sidebar">Sair</strong>
          </button>
        </a>
      </li>

    </ul>
  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <h1 class="tittle-page">Benefícios em bandeiras de cartão</h1>
      </div>
    </nav>
    <div class="container-fluid">
      <p class="tittle-elements">Você será direcionado para a página de benefícios da bandeira selecionada</p>
      <div class="home-registers">
        <div class="back-elements registers">
          <div class="box-benefit">
            <a href="https://surpreenda.naotempreco.com.br/parceiros" rel="noopener noreferrer" target="_blank">
              <img class="card-band" src="../../static.Warranty/mastercard-logo.png" alt="MasterCard">
              <strong class="font-warranty">MasterCard</strong>
            </a>
          </div>
          <div class="box-benefit">
            <a href="https://www.elo.com.br/ofertas" rel="noopener noreferrer" target="_blank">
              <img class="card-band" src="../../static.Warranty/Elo_logo.png" alt="Elo">
              <strong class="font-warranty">Elo</strong>
            </a>
          </div>
          <div class="box-benefit">
            <a href="https://vaidevisa.visa.com.br/vdv/beneficios" rel="noopener noreferrer" target="_blank">
              <img class="card-band" src="../../static.Warranty/Visa-logo.png" alt="Visa">
              <strong class="font-warranty">Visa</strong>
            </a>
          </div>
          <div class="box-benefit">
            <a href="https://www.hipercard.com.br/cartoes/beneficios" rel="noopener noreferrer" target="_blank">
              <img class="card-band" src="../../static.Warranty/hipercard-logo.png" alt="Hipercard">
              <strong class="font-warranty">HiperCard</strong>
            </a>
          </div>
          <div class="box-benefit">
            <a href="https://www.elo.com.br/produtos/pessoais/elo-nanquim-diners-club" rel="noopener noreferrer" target="_blank">
              <img class="card-band" src="../../static.Warranty/Diners-Club-Logo.png" alt="Diners Club">
              <strong class="font-warranty">Diners Club</strong>
            </a>
          </div>
          <div class="box-benefit">
            <a href="https://www.americanexpress.com/pt-br/network/beneficios/ofertas/" rel="noopener noreferrer" target="_blank">
              <img class="card-band" src="../../static.Warranty/american-express-logo.png" alt="American Express">
              <strong class="font-warranty">American Express</strong>
            </a>
          </div>

          <!--colocar registros aqui-->

        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>